<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="cat" class="co.zephyrl.Cat">
        <property name="cname" value="小白"></property>
        <property name="color" value="白色"></property>
        <property name="age" value="1"></property>
        <property name="sex" value="false"></property>
    </bean>

</beans>